<%- include('./includes/nav.ejs') -%>
    <br>
    <br>
    <br>
    <br>
    <div class="container">
    <form action="/tickets" method="POST">
       
        
        <input type="hidden" name="train_name" value="<%= arr.train_name %>">
        <input type="hidden" name="source" value="<%= arr.source %>">
        <input type="hidden" name="destination" value="<%= arr.destination %>">
        <input type="hidden" name="dates" value="<%= arr.dates %>">
        <input type="hidden" name="distance" value="<%= arr.distance %>">
        <input type="hidden" name="train_type" value="<%= arr.train_type %>">
        <input type="hidden" name="train_id" value="<%= arr.train_id %>">
        <input type="hidden" name="train_class" value="<%= arr.train_class%>">
        <input type="hidden" name="arrival_time" value="<%= arr.arrival_time %>">
        <input type="hidden" name="departure_time" value="<%= arr.departure_time %>">
        <input type="hidden" name="duration" value="<%= arr.duration %>">
        <input class="new_dates" type="hidden" name="new_dates" value="<%= arr.new_dates %>" >
        <% for(let i = 0;i<arr.passenger.length ;i++) { %>
            <input type="hidden" name="passenger_name_<%=i+1%>" value="<%= arr.passenger[i].name %>"> 
            <input type="hidden" name="age_<%=i+1%>" value="<%= arr.passenger[i].age %>"> 
            <input type="hidden" name="gender_<%=i+1%>" value="<%= arr.passenger[i].gender %>"> 
        <% } %>
        <div class="form-group">
        <div class="form-group">
            <input type="checkbox" name="checkout" id="checkout" required>
        <label for="checkout"><h5><strong>Confirm your payment</strong></h5></label>
        
        </div>
        <button type="submit" class="btn btn-secondary btn-lg">Pay Securely</button>
        </div>
    </form>
</div>
    <%- include('./includes/end.ejs') -%>